<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <title>Listado de Usuarios</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/index">Inicio</a>
    <a href="/eventos">Eventos</a>
    <a href="/material">Material</a>
    <a href="/listado">Clientes</a>
    <a href="/pago">Pago</a>
    <a href="/stats">Reportes</a>
    <a href="/perfil">Configuración</a>
    <a href="/sugerencias">Sugerencias</a>
    <a href="/material">Material</a>
    <a href="/logout">Cerrar sesión</a>
</div>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(255, 255, 255, 0.1); color: #fff;">
    <a class="navbar-brand" href="/index" style="color: #fff;">ERP</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/perfil"><i class="fas fa-user" style="color: #fff;"></i></a>
            </li>
            </li>
        </ul>
    </div>
</nav>

<span style="font-size:30px;cursor:pointer;margin-left:5px;color:#fff;" onclick="openNav()">&#9776;</span>

<!-- Contenido principal -->
<div class="container">
    <h1>Editat Perfil de Usuario</h1>
    <hr>
    <table>
        <form th:action="@{/editarPerfil/{username}(username=${user.username})}" th:method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" th:value="${user.nombre}">
            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" th:value="${user.apellidos}">
            <label for="mail">Mail:</label>
            <input type="text" id="mail" name="mail" th:value="${user.mail}">
            <label for="tlf">Telefono:</label>
            <input type="text" id="tlf" name="tlf" th:value="${user.tlf}">
            <label for="notify">Notificaciones:</label>
            <input type="checkbox" id="notify" name="notify" th:checked="${user.notify == 1}">
            <label for="genero">Genero:</label>
            <select id="genero" name="genero">
                <option value="0" th:selected="${user.genero == 0}">Hombre</option>
                <option value="1" th:selected="${user.genero == 1}">Mujer</option>
                <option value="2" th:selected="${user.genero == 2}">Otro</option>
            </select>
            <label for="fecha_nt">Fecha de Nacimiento:</label>
            <input type="date" id="fecha_nt" name="fecha_nt" th:value="${#dates.format(user.fecha_nt, 'yyyy-MM-dd')}">
            <input class="btn btn-primary" type="submit" value="Editar">
        </form>

    </table>
</div>

<!-- Bootstrap JS y jQuery (opcional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>

</body>

</html>
