<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Tipo de Evento</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Inicio</a>
    <a href="/eventos">Eventos</a>
    <a href="/listado">Clientes</a>
    <a href="/pago">Pago</a>
    <a href="/stats">Reportes</a>
    <a href="/perfil">Configuración</a>
    <a href="/sugerencias">Sugerencias</a>
    <a href="/logout">Cerrar sesión</a>
</div>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(255, 255, 255, 0.1); color: #fff;">
    <a class="navbar-brand" href="/index" style="color: #fff;">ERP</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/perfil"><i class="fas fa-user" style="color: #fff;"></i></a>
            </li>
            </li>
        </ul>
    </div>
</nav>

<span style="font-size:30px;cursor:pointer;margin-left:5px;color:#fff;" onclick="openNav()">&#9776;</span>
<div class="container">
    <h1>¿Estás seguro de que quieres eliminar este tipo de evento?</h1>
    <form th:object="${tipoEvento}" th:action="@{/eliminarTipoEvento/{id}(id=${tipoEvento.id})}" method="post">
        <input type="hidden" th:field="*{id}">
        <input type="submit" value="Eliminar">
    </form>
</div>
    <!-- Bootstrap JS y jQuery (opcional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>
</html>