<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERP</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>403</h1>
            <h2>Acceso denegado</h2>
            <div class="error-details">
                Lo sentimos, no tienes permisos para acceder a esta página.
            </div>
            <div class="error-actions">
                <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                    Volver a la página principal </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>