<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Usuaris</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <h1>Usuaris</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Mail</th>
            <th>Tlf</th>
            <th>Rol</th>
        </tr>
        <tr th:each="users : ${users}">
            <td th:text="${users.id}"></td>
            <td th:text="${users.nombre}"></td>
            <td th:text="${users.apellidos}"></td>
            <td th:text="${users.mail}"></td>
            <td th:text="${users.tlf}"></td>
            <td th:text="${users_roles.role_id}"></td>
            <td>
                <a th:href="@{/users/{id}/edit(id=${users.id})}">Edit</a>
                <a th:href="@{/users/{id}/delete(id=${users.id})}">Delete</a>
            </td>
        </tr>
    </table>
</body>
</html>