<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear nuevo evento</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Inicio</a>
        <a href="/eventos">Eventos</a>
        <a href="/listado">Clientes</a>
        <a href="/stats">Estadisticas</a>
        <a href="/perfil">Configuración</a>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(255, 255, 255, 0.1); color: #fff;">
        <a class="navbar-brand" href="/index" style="color: #fff;">ERP</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/perfil"><i class="fas fa-user" style="color: #fff;"></i></a>
                </li>
                </li>
            </ul>
        </div>
    </nav>

    <span style="font-size:30px;cursor:pointer;margin-left:5px;color:#fff;" onclick="openNav()">&#9776;</span>

    <div class="container">
        <div class="form-container">
            <form action="" th:action="@{/nuevoEvento}" th:object="${evento}" method="post">
                <label for="tituloTipoEvento">Titulo:</label><br>
                <select id="tituloTipoEvento" name="tituloTipoEvento">
                    <option th:each="tipo : ${tiposEvento}" th:value="${tipo.titulo}" th:text="${tipo.titulo}"></option>
                </select><br><br>
                <label for="descripcion">Descripcion:</label><br>
                <textarea id="descripcion" name="descripcion" rows="4" cols="50" th:field="*{descripcion}"></textarea><br><br>
                <label for="fecha_taller_evento">Fecha del evento:</label>
                <input type="date" id="fecha_taller_evento" name="fecha_taller_evento" th:field="*{fecha_taller_evento}"><br>
                <label for="statusInt">Status:</label>
                <input type="checkbox" id="statusInt" name="statusInt" th:checked="${statusInt == 1}"><br>
                <div class="aligned-elements">
                    <input type="submit" value="Submit" onclick="">
                </div>
                <!--Boton que solo ve el admin que redirige a listadoTipoEvento.html-->
                <div th:if="${currentUser.permisos == 2}" class="aligned-elements">
                    <a href="/listadoTipoEvento" class="btn btn-primary">Tipos de Evento</a>
                </div>
            </form>
        </div>
    </div>
</body>

<!-- Bootstrap JS y jQuery (opcional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>

</html>