<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pago</title>
</head>
<body>
<h1>Pago</h1>
<form action="#" th:action="@{/pago}" th:object="${pago}" method="post">
    <input type="hidden" name="userId" value="1" /> <!-- Replace 1 with the actual userId -->
    <label for="precio">Precio:</label><br>
    <input type="number" id="precio" th:field="*{precio}"><br>
    <label for="producto">Producto:</label><br>
    <input type="text" id="producto" th:field="*{producto}"><br>
    <label for="cuenta">Cuenta:</label><br>
    <input type="text" id="cuenta" th:field="*{cuenta}"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>